.states :hover {
    fill: red;
  }
  
.state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
  }
#svg{
align-content: left
  }
.subject{
  align-content: right;
  border-style: solid;
}