<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Veil of Ignorance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="about">About</a>
            </li>
        </div>
      </nav>

<h2>What is the Veil of Ignorance?:</h2>
<h4>The "veil of ignorance" is a method of determining the morality of issues. It asks a decision-maker 
  to make a choice about a social or moral issue, and assumes that they have enough information to know 
  the consequences of their possible decisions for everyone but would not know, or would not take into 
  account, which person he or she is. The theory contends that not knowing one's ultimate position in 
  society would lead to the creation of a just system, as the decision-maker would not want to make decisions 
  which benefit a certain group at the expense of another, because the decision-maker could theoretically end 
  up in either group.</h4>
  <br>
  <h2>How does it work?:</h2>
  <h4>But how can someone be expected to know all the possible outcomes? That's where our site comes in. 
    To test your program, click on a state. You will be assigned a person with a few defining characteristics 
    of a citizen. Does your policy benefit this person? Why or why not? What can you change to guarantee you 
    are helping them. When you click on a state you will also see the statistics at the bottom for the different
    categories.
  </h4>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://d3js.org/topojson.v2.min.js"></script>
        <!-- <script type="text/javascript" src="/static/js/logic.js"></script> -->
        <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
</body>
</html>